.scroll{
    margin-top: 1%;
    overflow-x: auto;
    scroll-snap-type: y;
    scrollbar-width: none;
    max-height: 200px;
    /*width: 20%;*/
    /*padding: 0.5%;*/
    z-index: 2;
}
.scroll::-webkit-scrollbar {
    display: none;
}
.scroll_horizontal{
     overflow-x: auto;
     scroll-snap-type: y;
     scrollbar-width: none;
     align-content: center;
 }
.scroll_horizontal::-webkit-scrollbar {
    display: none;
}
