.work_space{
    background: rgba(16,23,34,0.6);
    border-radius: 5px;
    padding: 2%;
    margin: 1% 0 3% 0;
}
.work_space_element{
    background: rgba(22,30,41,0.6);
    border-radius: 3px;
    padding: 2%;
    margin-top: 1%;

}
.work_space_element_advent{
    justify-content: space-between;
}
.row_position_btn{
    justify-content: flex-end;
    margin-top: 5%;
}
.icon_element{
    margin-right: 8%;
}
.column_item{
    width: 20%;
    justify-content: center;
}
.work_space_element_title{
    padding: 0 2%;
}
.item{
    width: 30%;
}
.play{
    margin-right: 5%;
}
.success{
    color: #2BD6A2;
}
.process{
    color: rgba(255,203,89,0.81);
}
.delete:active{
    background-color: #7e2d2d;
    border-radius: 5px;
}
.play:active{
    background-color: #3b8069;
    border-radius: 5px;
}
